html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 10;
  position: relative;
  font-family: sans-serif;
  background-color: lightgreen;
}

a.todo-item {
  text-decoration-line: none;
}

.li-tem,
.li-item-done,
.li-item-default {
  font-size: 1.3em;
}

.li-item-done {
  text-decoration-line: line-through;
}

#notification {
  /* background-color: yellow; */
}

#app {
  /*  background-color: purple; */
}

.modal {
  background-color: white;

  position: fixed;

  z-index: 1;
  width: 50vw;
  height: 50vh;
  overflow: auto;

  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
}

#pro {
  display: none;
  position: fixed;
  background-color: white;
  width: 40vw;
  height: 40vh;
}

#message {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
}

#close {
  text-align: right;
  font-size: 2em;
  background-color: white;
  width: 100%;
  height: 40px;
}

footer {
  /*  background-color: aqua;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
